@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --text-color: #f4f4f4;
  }
}

body {
  padding-top: 72px;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
h1 {
  font-size: 30px;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

ul[aria-label="Pagination"] {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
ul[aria-label="Pagination"] > li {
  padding: 0 1rem;
}

ul[aria-label="Pagination"] > li.selected {
  color: #005cc5;
}

ul[aria-label="Pagination"] > li.disabled {
  display: none;
}

.minicart-content {
  max-height: 85vh;
  overflow: auto;
}

.messages > div {
  text-align: center;
  padding: 10px 20px;
}
.messages .success {
  background-color: rgb(134 239 172);
}
.messages .error {
  background-color: rgb(248 113 113);
}
.messages .note {
  background-color: rgb(254 240 138);
}
.hero-image-container {
  max-height: 800px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.hero-image-container .text-box {
  left: 10%;
  top: 25%;
}
.hero-image-container .text-box h1 {
  font-size: clamp(30px, 6vw, 80px);
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2;
}
.hero-image-container .text-box p {
  color: #fff;
  font-size: clamp(20px, 4vw, 40px);
  text-shadow: 2px 6px 6px rgba(0,0,0, 0.8);
  margin-top: 10px;
}
